
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(196, 195, 195);
    font-family: 'Eater', cursive;
}

#Logo {
    width: 10%;
    margin: 0% 33%;
}

#titulo {
    position: absolute;
	top: 50px;
	right: 41%;
	color: #3b0653;
	font-size: 30px;
}

body {
    font-family: 'Oswald', sans-serif;
    color: rgb(196, 195, 195);
    background: linear-gradient(rgb(196, 195, 195) 15%, rgb(147, 32, 185) 35%, #3b0653 50%, rgb(41, 5, 38) 75%, rgb(10, 10, 10) 95% );
}

main p {
    font-size: 22px;
    width: 940px;
    margin: 0 auto;
    text-align: justify;
}

#color {
    color: black;
}

main h1 {
    font-size: 26px;
    text-align: center;
    font-style: italic;
    padding: 1% 0;
}

main h2{
    font-size: 26px;
    font-style: italic;
    padding: 1% 0;
    margin-left: 15%;
}

main h3 {
    font-size: 20px;
    margin-left: 15%;
    color: rgb(0, 0, 0);

}

#posição-img {
    margin-left: 17%;
    margin-right: 6%;
    width: 30%;

}

.posiçao-map {
    margin-top: 2%;
}

nav a {
	text-transform: uppercase;
	color: rgb(196, 195, 195);;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
 }
 nav a:hover {
	 color: rgb(230, 23, 23);
	 text-decoration: underline; 
 }
.filmes {
    width: 45%;
    margin-left: 28%;
}

.botão {
	width: 9%;
	padding: 5px 24px;
	background: rgb(180, 17, 17);
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
	transition: 1s all;
	cursor: pointer;
}

.botão:hover {
	background: darkorange;
	transform: scale(1.2);
}

footer {
	text-align: center;
	background: rgb(10, 10, 10);
	padding: 20px 5px;
    margin-top: 2%;
}

.Copyright {
	color:rgb(255, 255, 255);
	font-size: 8px;
}

#LogoBranca {
    width: 7%;
    margin: 0% 45%;
}

.Copyright:hover  {
	color: rgb(247, 7, 7);
	font-size: 10px;
}